@import url(./assets/styles/files/nav.css);
@import url(./assets/styles/files/responsive.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
}
